include html/global/head.html
title PTO History
include html/imports/bootstrapLinks.html
include html/imports/awesomeLinks.html
link(rel='stylesheet' href='/css/history.css')
include html/navSupervisor.html
section.main
    .attendance-list
        h1 PTO Request History
        table.table
            thead
                tr
                    th ID
                    th Name
                    th Request Created
                    th Date Requested
                    th Type
                    th Status
                    th Details
            tbody
                tr
                    td 112
                    td David Vasquez
                    td 10-24-22
                    td 11-19-22
                    td Sick
                    td Completed
                    td
                        abutton View
                tr.active
                    td 112
                    td David Vasquez
                    td 9-7-22
                    td 11-26-22
                    td Vacation
                    td Completed
                    td
                        abutton View
                tr
                    td 112
                    td David Vasquez
                    td 8-8-22
                    td 12-8-22
                    td Sick
                    td Completed
                    td
                        abutton View
                tr
                    td 112
                    td David Vasquez
                    td 8-8-22
                    td 12-8-22
                    td Sick
                    td Completed
                    td
                        abutton View
                tr
                    td 112
                    td David Vasquez
                    td 8-8-22
                    td 12-8-22
                    td Sick
                    td Completed
                    td
                        abutton View
                tr
                    td 112
                    td David Vasquez
                    td 8-8-22
                    td 12-8-22
                    td Sick
                    td Completed
                    td
                        abutton View
                tr
                    td 112
                    td David Vasquez
                    td 8-8-22
                    td 12-8-22
                    td Sick
                    td Completed
                    td
                        abutton View
                tr
                    td 112
                    td David Vasquez
                    td 8-8-22
                    td 12-8-22
                    td Sick
                    td Completed
                    td
                        abutton View
                tr
                    td 112
                    td David Vasquez
                    td 11-4-22
                    td 12-4-22
                    td Personal
                    td Completed
                    td
                        abutton View
