doctype html
head
    meta(charset='utf-8')
    title Aldi Login Form
    link(rel='stylesheet' href='/css/login.css')
    include html/imports/bootstrapLinks.html
.wrapper
    .title
        img(src="/img/ASG_APP_AID_36x36.png" alt="ALDI Logo")
        | &nbsp; ALDI PTO Tracker
    form(action='/')
        .field
            input(type='text' required='')
            label Email Address
        .field
            input(type='password' required='')
            label Password
        .content
            .checkbox
                input#remember-me(type='checkbox')
                label(for='remember-me') Remember me
            .pass-link
                a(href='#') Forgot password?
        .field
            input(type='submit' value='Login')
        .signup-link
            | Not a member?
            a(href='#') Signup now
