include html/global/head.html
title Aldi Login Form
include html/imports/bootstrapLinks.html
link(rel='stylesheet' href='/css/login.css')
.wrapper
    .title
        img(src="/img/AL_BLR_LA_MC_RGB.png" alt="ALDI Logo")
    form(action='/')
        .field
            input(type='text' required='')
            label Email Address
        .field
            input(type='password' required='')
            label Password
        .content
            .checkbox
                input#remember-me(type='checkbox')
                label(for='remember-me') Remember me
            .pass-link
                a(href='#') Forgot password?
        .field
            input(type='submit' value='Login')
        .signup-link
            | Not a member?
            a(href='#')  Signup now
