include ../public/html/header.html
main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Request PTO

    .wrapper
        header
            p.current-date
            .icons
                span#prev.material-symbols-rounded chevron_left
                span#next.material-symbols-rounded chevron_right
        .calendar
            ul.weeks
                li Sun
                li Mon
                li Tue
                li Wed
                li Thu
                li Fri
                li Sat
            ul.days