include html/global/head.html
title ALDI Employee View
include html/imports/bootstrapLinks.html
include html/navEmployee.html
.container-fluid
    .row
        main.ms-sm-auto.px-md-5
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                h1.h2 Your PTO

            .container-fluid
                .row
                    .col-md-4
                        canvas#doughnutChart1.mt-1.mb-4.w-100(width='500' height='380')
                        p.text-center.fs-4 Vacation: 10 Days Available
                    .col-md-8
                        .border-bottom.mb-3
                            h1.h2 Your Requests
                        .table-responsive
                            table.table.table-striped
                                thead
                                    tr
                                        th(scope='col') PTO Type
                                        th(scope='col') Start Date
                                        th(scope='col') End Date
                                        th(scope='col') Request Status
                                        th(scope='col') Last Modified
                                        th(scope='col') Modified By
                                        th(scope='col') Comments
                                tbody
                                    tr
                                        td Vacation
                                        td 10/21/22
                                        td 10/24/22
                                        td Pending
                                        td 10/13/22
                                        td John Smith
                                        td I need more information about this. Four people are taking off that week.
                                    tr
                                        td Sick
                                        td 10/9/22
                                        td 10/9/22
                                        td Approved
                                        td 10/9/22
                                        td John Smith
                                        td I approve.
                                    tr
                                        td Vacation
                                        td 11/23/22
                                        td 11/30/22
                                        td Rejected
                                        td 10/14/22
                                        td John Smith
                                        td Too long. Take less time.

                        script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous")
                        script(src="/script/charts/vacationDoughnut.js")
                        script(src="/script/charts/personalDoughnut.js")
                        script(src="/script/charts/sickDoughnut.js")