body {
  font-size: .875rem;
}

header a img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 30, 120, .25);
}

.nav-item {
  font-size: 18px;
  margin-right: 75px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
.logout{
  border: 1px white solid;
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-item:hover {
  background-color: #969BB4;
}
