<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-5 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">
              <span class="align-text-bottom"></span>
              Your PTO
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/request">
              <span class="align-text-bottom"></span>
              Request PTO
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="align-text-bottom"></span>
              PTO History
            </a>
          </li>
        </ul>
      </div>
    </nav>